.focused-out {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.38);
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}

.focused-out .app {
  position: absolute;
  top: 0;
  clip-path: circle(100%);
  transition: clip-path 1s;
}

.focused-out .app.clipped {
  clip-path: circle(0% at center);
}
