.focus-animator {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.38);
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.focus-animator .app-wrapper {
  position: absolute;
  top: 0;
  transition: clip-path 750ms;
}
