.start-cam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-cam-button {
  margin: 7px;
}

.start-cam-text {
  cursor: pointer;
  height: 0;
}

.start-cam-loader-wrapper {
  width: 70px;
  height: 70px;
  position: absolute;
}

.start-cam-loader {
  height: 100%;
  width: 100%;
}

.start-cam-loader .spinner-layer {
  border-color: #4a148c;
}
