.start-cam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-cam-text {
  cursor: pointer;
}

.start-cam-loader {
  width: 160px;
  height: 160px;
  position: absolute;
}

.start-cam-loader .spinner-layer {
  border-color: #4a148c;
}
